*{
    box-sizing: border-box;
}

.card img {
    height: 150px;
    width: 130px;
    margin-top: 10px;
}

body {
    background-color: lightyellow;
    text-align: center;
}

.card-row {
    width: 100%;
    margin: 0 5px;
}

.card-row {
    width: 100%;
    margin: 0px;
}

.card-column {
    width: 25%;
    float: left;
    padding: 0 8px;
}

.card {
    background-color: white;
    padding: 0 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

