.btn{
    text-align: center;
}

button{
    display: inline-block;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: thin solid aqua;

    background-color: antiquewhite;

    white-space: nowrap;
    margin: 2rem 0;
    margin-left: 150px;
    margin-right: 150px;
    border: none;
    font-size: 16px;
    font-weight: semibold;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn #in{
    background-color: burlywood;
}

table {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    width: 70%;
}

    h1{
        text-align: center;
}

.content{
    border: 1px solid whitesmoke;
    margin-right: auto;
    margin-left: auto;

}

a{
    color: black;
}

h1{
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: semibold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
}