h1{
    text-align: center;
}

button{
    margin-left: 20%;
    height: 30px;
    border: 1.5px solid aquamarine;
    background-color: antiquewhite;
    width: 100px;
    border-radius: 5px;
    color: aquamarine;
    margin-top: 5px;

}
table{
    border: 1px solid;
    width: 600px;
    border-spacing: 20px;


}
span{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover{
    scale: 1.1;
    background-color: plum;
    color: blueviolet;
}

.tot{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}