.card{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    margin-top: 50px;
    height: auto;
    border: 0.4px solid rgb(151, 150, 150);
    background-color:antiquewhite;
}

button{
    background-color: aqua;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

ul{
    list-style-type: none;
}

h1{
    font-weight: semibold;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    margin-top: 60px;
    font-size: 30px;
}